h1 {
	font-weight: bold;
}
body{
	background:url('../img/bg.jpg') repeat-x #718693;
}

#searchForm{
	/* The search form. */
	background-color:#4C5A65;
	padding:50px 50px 30px 50px;
	margin:20px 0;
	position:relative;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	height: 150px;
	margin: 5% 0;
    width: 100%;
}

fieldset{
	border:none;
}
.radio-btn {
	display: inline;
}
#searchInputContainer{
	/* This div contains the transparent search box */
	width:420px;
	height:36px;
	background:url("../img/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

#s{
	/* The search text box. */
	
	border-radius: 5px;
	background:url("../img/searchBox.png") no-repeat;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	margin-left: 12%;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:66%;
}



/* The submit button */


#submitButton{
	border:none;
	cursor:pointer;
	margin-top: 1px;
    width: 100px;
}

#submitButton:hover{
	background-position:left bottom;
}


/* The Search tutorialzine.com / Search the Web radio buttons */


#searchInContainer{
	float:left;
	margin-top:12px;
	width:96%;
}

label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:11px;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right:1px;
	white-space:nowrap;
	margin-left: 2%
}

input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}

a, a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#97cae6;
}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}