.border {
	border: solid 1px #dddddd;
	border-radius: 5px;
}
.compound-title {
	width: 100%;
	background-color: #ddd;
	margin-top: 2%;
}
.compound-title h1,p {
	margin: 0 auto; 
	text-align: center;
}
.atom-textarea {
	width: 90%;
	margin: 2% 6%;
	height: 300px;
	border-radius: 7px;
	scroll-behavior: smooth;
	overflow-y: scroll;
	resize: none;
}
.btn-div {
	width: 90%;
	margin: 1% 6%;
}